.alignmid {
    text-align: center
}
.bigbold {
    font-size: 3em;
    font-weight: bold
}
.orange {
    color: orangered
}
.bigbutton {
    font-size: 2em
}
.bigtitle {
    font-size: 4em;
    font-weight: bold
}